@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333D79FF;
}

.outline {
  margin: 1rem 0.5rem 0.2rem 0.5rem;
  font-size: 4rem;
  font-family: Poppins, sans-serif;
  /* color: #FAEBEFFF; */
  color: #FFD700FF;
}

.message {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: #FAEBEFFF;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 5px;
  justify-content: center;
  align-content: center;

}

.square {
  border: 2px solid #FFD700FF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  background-color: #FFFFF0FF;
}

.square:hover {
  background-color: #FAEBEFFF;
}

.activeSquare {
  color: #333D79FF;
  font-size: 6rem;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

#nameX,
#nameO,
.players,
.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  outline: none;
}

#nameX,
#nameO {
  border: 2px solid #FFD700FF;
  background-color: #FFFFF0FF;
  color: #333D79FF;
  border-radius: 9px;
  font-size: 1rem;
  padding: 0.5rem;
  width: 170px
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  width: 70px;
}

button {
  border: 2px solid #FFD700FF;
  border-radius: 10px;
  outline: none;
  background-color: #FFFFF0FF;
  color: #333D79FF;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  padding: 0.5rem;

}

.start {
  width: 150px;
}

.start:hover,
.newName:hover {
  background-color: #FAEBEFFF;
  width: 155px;
  transition: ease-in(size, 3s, ease-in-out)
}

.disabled {
  pointer-events: none;
  /* opacity: 0.5; */
}

.winWin {
  background-color: #FFD700FF;

}